<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-card class="card">
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
              v-model="provider.name"
              :rules="nameRules"
              label="Nome Empresa"
              required
            ></v-text-field>
            <v-menu
              ref="menu"
              :close-on-content-click="false"
              v-model="menu"
              :nudge-right="40"
              :return-value.sync="date"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <v-text-field
                slot="activator"
                v-model="date"
                label="Data de nascimento"
                prepend-icon="event"
                readonly
              ></v-text-field>
              <v-date-picker v-model="date" no-title scrollable locale="pt-br">
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                <v-btn flat color="primary" @click="$refs.menu.save(date)">OK</v-btn>
              </v-date-picker>
            </v-menu>
            <v-text-field
              v-model="provider.email"
              :rules="emailRules"
              label="E-mail"
              required
            ></v-text-field>
            <v-text-field
              v-model="provider.cnpj"
              label="CNPJ"
              required
            ></v-text-field>
            <v-text-field
              v-model="provider.phone"
              label="Telefone"
              required
            ></v-text-field>
            <v-btn
              :disabled="!valid"
              @click="submit"
            >
              Editar
            </v-btn>
            <v-btn @click="clear">Limpar</v-btn>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  name: 'providers-create',
  data: function () {
    return {
      sub_title: 'Criando conta',
      valid: false,
      nameRules: [
        v => !!v || 'Name is required'
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ],
      date: null,
      menu: false,
      modal: false
    }
  },
  methods: {
    submit () {
      let params = {
        id: this.$route.params.id,
        data: this.provider
      }
      this.$store.dispatch('updateProvider', params).then(() => {
        this.$router.push('/fornecedores')
      })
    },
    clear () {
      this.$refs.form.reset()
    }
  },
  computed: {
    provider () {
      return this.$store.state.providers.providerView
    }
  },
  created () {
    this.$store.dispatch('getProvider', this.$route.params.id)
  }
}
</script>
<style>
  .card {
    padding: 10px;
  }
</style>
