<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-card-title>
          <h1>Fornecedores</h1>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Pesquisar"
            single-line
            hide-details
            @keyup.enter="searchTo()"
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="providers"
          hide-actions
          class="elevation-1"
          :loading="loading"
        >
          <template slot="items" slot-scope="props">
            <tr @click="goTo('/fornecedores/' + props.item.id)" class="cursor-pointer">
              <td>{{ props.item.name }}</td>
              <td>{{ props.item.email }}</td>
              <td>{{ props.item.cnpj }}</td>
              <td>{{ props.item.date_create }}</td>
              <td>{{ props.item.phone }}</td>
            </tr>
          </template>
        </v-data-table>
        <pagination resource="providers"></pagination>
      </v-flex>
    </v-layout>
    <v-btn
      color="blue"
      dark
      fixed
      bottom
      right
      fab
      @click="goTo('/fornecedores/novo')"
    >
      <v-icon>add</v-icon>
    </v-btn>
  </v-container>
</template>
<script>
import Pagination from './../SharedComponents/Pagination'

export default {
  name: 'providers-list',
  components: {
    'pagination': Pagination
  },
  methods: {
    goTo: function (url) {
      this.$router.push(url)
    },
    searchTo: function () {
      let config = {
        resource: 'providers',
        like: 'name,' + this.search
      }
      this.$store.dispatch('getRegistries', config)
    }
  },
  data () {
    return {
      search: '',
      headers: [
        {
          text: 'Nome',
          align: 'left',
          sortable: false,
          value: 'name'
        },
        { text: 'E-mail', value: 'email', align: 'left', sortable: false },
        { text: 'Cnpj', value: 'cpf', align: 'left', sortable: false },
        { text: 'Data Criação', value: 'date_create', align: 'left', sortable: false },
        { text: 'Telefone', value: 'phone', align: 'left', sortable: false }
      ]
    }
  },
  computed: {
    providers () {
      return this.$store.state.pagination.getList.data
    },
    loading () {
      return this.$store.state.pagination.getListLoading
    }
  }
}
</script>
<style>
.cursor-pointer {
  cursor: pointer;
}
</style>
