<template>
  <v-container>
    <v-layout>
      <v-flex>
        <h1>Detalhamento</h1>
        <v-card>
          <v-btn fab dark small color="red" @click="remove(provider.id)">
            <v-icon dark>delete</v-icon>
          </v-btn>
          <v-btn fab dark small color="blue" @click="edit(provider.id)">
            <v-icon dark>edit</v-icon>
          </v-btn>
          <v-card-title>
            <v-layout row wrap>
              <v-flex xs12>
                <span class="grey--text">Nome:</span>
                <span>{{ provider.name }}</span>
              </v-flex>

              <v-flex xs6>
                <span class="grey--text">E-mail:</span>
                <span>{{ provider.email }}</span>
              </v-flex>
              <v-flex xs6>
                <span class="grey--text">Telefone:</span>
                <span>{{ provider.phone }}</span>
              </v-flex>

              <v-flex xs6>
                <span class="grey--text">CNPJ:</span>
                <span>{{ provider.cnpj }}</span>
              </v-flex>
              <v-flex xs6>
                <span class="grey--text">Data Criação:</span>
                <span>{{ provider.date_create }}</span>
              </v-flex>
            </v-layout>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  name: 'providers-view',
  methods: {
    remove: function (id) {
      this.$store.dispatch('removeProvider', id).then(() => {
        this.$router.push('/fornecedores')
      })
    },
    edit: function (id) {
      this.$router.push('/fornecedores/' + id + '/editar')
    }
  },
  computed: {
    provider () {
      return this.$store.state.providers.providerView
    }
  },
  created () {
    this.$store.dispatch('getProvider', this.$route.params.id)
  }
}
</script>
<style>

</style>
