<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-card class="card">
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
              v-model="product.title"
              label="Título"
              required
            ></v-text-field>
            <v-text-field
              v-model="product.description"
              label="Descrição"
              required
            ></v-text-field>
            <v-text-field
              v-model="product.price"
              label="Valor"
              required
            ></v-text-field>
            <label>Files
              <input type="file" id="files" ref="files" v-on:change="handleFileUploads()"/>
            </label>
            <v-btn
              :disabled="!valid"
              @click="submit"
            >
              Cadastrar
            </v-btn>
            <v-btn @click="clear">Limpar</v-btn>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import Vue from 'vue'

export default {
  name: 'products-create',
  data: function () {
    return {
      product: {},
      valid: false,
      date: null,
      menu: false,
      modal: false,
      files: ''
    }
  },
  methods: {
    submit () {
      let formData = new FormData()
      formData.append('file', this.files[0])
      formData.set('title', this.product.title)
      formData.set('description', this.product.description)
      formData.set('price', this.product.price)

      Vue.http.post('api/products', formData).then(response => {
        this.$router.push('/produtos')
      })
    },
    clear () {
      this.$refs.form.reset()
    },
    handleFileUploads () {
      this.files = this.$refs.files.files
    }
  }
}
</script>
<style>
  .card {
    padding: 10px;
  }
</style>
