<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-card-title>
          <h1>Produtos</h1>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Pesquisar"
            single-line
            hide-details
            @keyup.enter="searchTo()"
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="products"
          hide-actions
          class="elevation-1"
          :loading="loading"
        >
          <template slot="items" slot-scope="props">
            <tr @click="goTo('/produtos/' + props.item.id)" class="cursor-pointer">
              <td>{{ props.item.title }}</td>
              <td>{{ props.item.description }}</td>
              <td>{{ props.item.price }}</td>
              <td>
                <v-img
                  :src="`${server}/${props.item.file}`"
                  :lazy-src="`${server}/${props.item.file}`"
                  aspect-ratio="1"
                  class="grey lighten-2"
                >
                  <v-layout
                    slot="placeholder"
                    fill-height
                    align-center
                    justify-center
                    ma-0
                  >
                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                  </v-layout>
                </v-img>
              </td>
            </tr>
          </template>
        </v-data-table>
        <pagination resource="products"></pagination>
      </v-flex>
    </v-layout>
    <v-btn
      color="blue"
      dark
      fixed
      bottom
      right
      fab
      @click="goTo('/produtos/novo')"
    >
      <v-icon>add</v-icon>
    </v-btn>
  </v-container>
</template>
<script>
import Pagination from './../SharedComponents/Pagination'

export default {
  name: 'products-list',
  components: {
    'pagination': Pagination
  },
  methods: {
    goTo: function (url) {
      this.$router.push(url)
    },
    searchTo: function () {
      let config = {
        resource: 'products',
        like: 'name,' + this.search
      }
      this.$store.dispatch('getRegistries', config)
    }
  },
  data () {
    return {
      search: '',
      headers: [
        {
          text: 'Título',
          align: 'left',
          sortable: false,
          value: 'title'
        },
        { text: 'Descrição', value: 'email', align: 'left', sortable: false },
        { text: 'Preço', value: 'rg', align: 'left', sortable: false },
        { text: 'Imagem', value: 'cpf', align: 'left', sortable: false }
      ],
      server: process.env.SERVER
    }
  },
  computed: {
    products () {
      return this.$store.state.pagination.getList.data
    },
    loading () {
      return this.$store.state.pagination.getListLoading
    }
  }
}
</script>
<style>
.cursor-pointer {
  cursor: pointer;
}
</style>
