<template>
  <v-container>
    <v-layout>
      <v-flex>
        <h1>Detalhamento</h1>
        <v-card>
          <v-btn fab dark small color="red" @click="remove(client.id)">
            <v-icon dark>delete</v-icon>
          </v-btn>
          <v-btn fab dark small color="blue" @click="edit(client.id)">
            <v-icon dark>edit</v-icon>
          </v-btn>
          <v-card-title>
            <v-layout row wrap>
              <v-flex xs12>
                <span class="grey--text">Nome:</span>
                <span>{{ client.name }}</span>
              </v-flex>

              <v-flex xs6>
                <span class="grey--text">E-mail:</span>
                <span>{{ client.email }}</span>
              </v-flex>
              <v-flex xs6>
                <span class="grey--text">Telefone:</span>
                <span>{{ client.phone }}</span>
              </v-flex>

              <v-flex xs4>
                <span class="grey--text">Rg:</span>
                <span>{{ client.rg }}</span>
              </v-flex>
              <v-flex xs4>
                <span class="grey--text">Cpf:</span>
                <span>{{ client.cpf }}</span>
              </v-flex>
              <v-flex xs4>
                <span class="grey--text">Data Nascimento:</span>
                <span>{{ client.date_birth }}</span>
              </v-flex>
            </v-layout>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  name: 'clients-view',
  methods: {
    remove: function (id) {
      this.$store.dispatch('removeClient', id).then(() => {
        this.$router.push('/clientes')
      })
    },
    edit: function (id) {
      this.$router.push('/clientes/' + id + '/editar')
    }
  },
  computed: {
    client () {
      return this.$store.state.clients.clientView
    }
  },
  created () {
    this.$store.dispatch('getClient', this.$route.params.id)
  }
}
</script>
<style>

</style>
