<template>
  <div class="text-xs-center pagination">
    <v-pagination
      v-model="page"
      :length="total"
      :total-visible="10"
      @input="navigate"
    ></v-pagination>
  </div>
</template>
<script>
export default {
  name: 'pagination',
  data () {
    return {
      page: 1
    }
  },
  props: [
    'totalPerPage',
    'resource'
  ],
  methods: {
    navigate: function () {
      let config = {
        resource: this.resource,
        page: this.page
      }
      this.$store.dispatch('getRegistries', config)
    }
  },
  computed: {
    registries () {
      return this.$store.state.pagination.getList
    },
    total () {
      return this.registries.last_page || 1
    },
    totalRegistries () {
      return this.registries.total || 0
    }
  },
  created () {
    this.$store.dispatch('getRegistries', {resource: this.resource})
  }
}
</script>
<style>
  .pagination {
    margin-top: 15px;
  }
</style>
