<template>
  <v-layout align-center justify-center id="login">
    <v-flex xs12 sm8 md4>
      <v-card class="elevation-12">
        <v-toolbar dark color="primary">
          <v-toolbar-title>Login</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field prepend-icon="person" name="login" label="E-mail" type="text" v-model="user.username"></v-text-field>
            <v-text-field id="password" prepend-icon="lock" name="password" label="Senha" type="password" v-model="user.password"></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" @click="login">Login</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import Vue from 'vue'
import { CONFIG } from './../../config'

export default {
  name: 'login',
  data: function () {
    return {
      user: {},
      valid: false
    }
  },
  methods: {
    login: function () {
      let data = {
        grant_type: 'password',
        client_id: CONFIG.client_id,
        client_secret: CONFIG.client_secret,
        username: this.user.username,
        password: this.user.password,
        scope: ''
      }
      Vue.http.post('oauth/token', data).then(response => {
        localStorage['token'] = JSON.stringify(response.body)
        this.$router.push('/clientes')
      })
    }
  }
}
</script>
<style>
#login {
  background-color: #eee !important;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  padding: 20px;
}
</style>
