<template>
  <v-app id="inspire" dark>
    <v-navigation-drawer
      v-model="drawer"
      clipped
      fixed
      app
    >
    </v-navigation-drawer>
    <v-toolbar app fixed clipped-left>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Loja Virtual</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <router-view/>
    </v-content>
    <v-footer app fixed>
      <span>&copy; 2018</span>
    </v-footer>
  </v-app>
</template>
<script>
export default {
  name: 'Store',
  styles: [
    require('material-icons/css/material-icons.min.css'),
    require('vuetify/dist/vuetify.min.css'),
    require('ionicons/dist/css/ionicons.min.css'),
    require('material-design-icons-iconfont/dist/material-design-icons.css')
  ],
  data: () => ({
    drawer: true
  }),
  props: {
    source: String
  },
  methods: {
    goTo: function (url) {
      this.$router.push(url)
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
